
body {
    background-color: black;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}
.content {
    background-color: white;
    width: 600px;
    height: 700px;
    border: 5px rgb(224, 9, 9) solid;  
}

.content h1{
    margin-left: 20px; 
}

.titulo{
    width: 595px;
    height: 50px;
    border: 3px rgb(255, 208, 0) solid;
}
.contenido{
    width: 595px;
    height: 400px;
    border: 3px red solid;
    margin-top: 5px;
}
.desc{
    width: 595px;
    height: 50px;
    border: 3px rgb(174, 11, 196) solid;
    margin-top : 5px;
}

.desc2{
    width: 595px;
    height: 150px;
    border: 3px rgb(174, 11, 196) solid;
    margin-top : 5px;
}

.titulo{
    display: flex;
}

.html-icon{
    margin: auto 0;
}


.titulo-parrafo p:first-child {
    margin-top: 5px;
    margin-bottom: 0px;
}

.titulo-parrafo p:last-child {
    margin-top: 0px;
}

.titulo-parrafo{
    width: 560px;
    
}

.option-icon{
    margin: auto 0;
}

.contenido img{
    width: 595px;
    height: 400px;
}

.desc{
    display: flex;   
}

.desc img{
    width: 35px;
    padding: 5px;
}

.share-icon{
    width: 520px;
}

.desc2 p{
    margin-left: 10px;
    margin-right: 10px;
}
